.cabecalho__menu-haburguer {
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-haburguer {
    background-image: url("../imagens/Menu\ Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul);
}

.container__rotulo {
    padding: 1em 1em;
}

.cabecalho {
    background-color: var(--cabecalho-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
    width: 60%;
}

.container__botao:checked~.menu {
    background-image: url("../imagens/Logo.svg ");
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--cabecalho-titulo-color);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cabecalho-item-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}


@media screen and (min-width: 1024px) {

    .container {
        margin: 0 2.5em;
    }

    .container__titulo,
    .container__titulo--negrito {
        display: inline-block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 2em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto)
    }


    .container__imagem--favorito {
        display: none;
    }

    .cabecalho__menu-haburguer {
        display: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--cabecalho-item-color);
        color: var(--branco)
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cabecalho-item-color);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto)
    }    

    .container__texto {
        display: block;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
}